Мы супер-пупер компания делаем супер-пупер вещи.<br><br>

<form action="/about" method="POST">
    <input type="text" name="aa" /><br><br>
    <input type="password" name="bb" /><br><br>
    <input type="submit" />

</form>